@model Dcmg.CustomerDB.ViewModels.CustomersViewModel
@*@inherits System.Web.Mvc.WebViewPage<dynamic>*@

<h1>Add Customers</h1>
<script type="text/javascript">
	window.onload=function(){
	var tfrow = document.getElementById('tfhover').rows.length;
	var tbRow=[];
	for (var i=1;i<tfrow;i++) {
		tbRow[i]=document.getElementById('tfhover').rows[i];
		tbRow[i].onmouseover = function(){
		    this.style.backgroundColor = '#0093D5';
		};
		tbRow[i].onmouseout = function() {
		    this.style.backgroundColor = '#3678BE';
		};
	}
};
</script>

<style type="text/css">
    table.tftable {
        font-size: 12px;
        color: #333333;
        width: 100%;
        border-width: 1px;
        border-color: #729ea5;
        border-collapse: collapse;
    }

        table.tftable th {
            font-size: 12px;
            background-color: #2B5F96;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
            text-align: left;
            color: #FFF;
        }

        table.tftable tr {
            background-color: #3678BE;
        }

        table.tftable td {
            font-size: 12px;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
            color: #FFF;
        }

    input[type="text"] {
    
    resize: both;
    width: 100px;
    height: 30px;
    }

    input[type="text"]:active {
        width: auto;  
        height: auto; 
    }

    input[type="text"]:focus {
        min-width: 200px;
        min-height: 30px;
    }
</style>



    <div id="AddCustomer">
        @using (Html.BeginFormAntiForgeryPost(Url.Action("Add", "Customers", new { area = "Dcmg.CustomerDB" })))
        {
            <table id="tfhover" class="tftable" border="1">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>PhoneNumber</th>
                    <th>PrimaryPOC</th>
                    <th>PrimaryPOCEmail</th>
                    <th>SecondaryPOC</th>
                    <th>SecondaryPOCEmail</th>
                    <th>EmailAlias</th>
                    <th>Notes</th>                    
                </tr>

                
                <tr>
                    <td>
                        <input type="text" name="txtName" id="txtName" value="" /> 
                    </td>
                    <td>
                        <input type="text" name="txtAddress" id="txtAddress" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtPhoneNumber" id="txtPhoneNumber" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtPrimaryPOC" id="txtPrimaryPOC" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtPrimaryPOCEmail" id="txtPrimaryPOCEmail" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtSecondaryPOC" id="txtSecondaryPOC" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtSecondaryPOCEmail" id="txtSecondaryPOCEmail" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtEmailAlias" id="txtEmailAlias" value="" />
                    </td>
                    <td>
                        <input type="text" name="txtNotes" id="txtNotes" value="" />
                    </td>
                </tr>
                                  
            </table>
            <input type="submit" id="btnSubmit" value="Submit" />
        }
            

</div>
